﻿@model Vehicles.Service.Repository.Filters.PagedList<Vehicles.MVC.Models.VehicleMakeRestModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Vehicle Make";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by Vehicle Maker: @Html.TextBox("SearchPhrase")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    @if (Model.HasPreviousPage)
    {

        @Html.ActionLink("<<<", "Index", new { page = (Model.PageIndex - 1) })

    }

    @if (Model.HasNextPage)
    {

        @Html.ActionLink(">>>", "Index", new { page = (Model.PageIndex + 1) })

    }

</p>
